body {
    font-family: 'Roboto', sans-serif;
    ;
    background-color: #222324;
}

section {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 150px;
}

h1 {
    color: white;
    font-size: 40px;
}

p {
    text-align: justify;
    color: #d3cece;
}

.headof {
    margin-top: 5%;
    display: flex;

}

.flexes {
    width: 46%;
}

.titlede {
    margin-right: 10%;
}

.flexes img {
    width: 100%;
    background-color: #222324;
    border-radius: 10px;
    opacity: 0.8;
}

.picbg {
    background-color: #222324;
    padding: 1%;
    box-shadow: 2px 2px 5px #00000079, -2px -2px 6px rgba(255, 255, 255, 0.123);
    width: 75%;
    border-radius: 10px;
    margin-top: 35px;
}

.mybtn {
    text-decoration: none;
    color: white;
    background-color: #222324;
    padding: 12px 40px;
    margin-top: 20px;
    display: inline-block;
    box-shadow: 2px 2px 5px #00000079, -2px -2px 6px rgba(255, 255, 255, 0.123);
    border-radius: 5px;
    font-size: 20px;
    margin-right: 20px;
}

.footer h1 {
    text-align: center;
    margin-top: 6%;
    font-size: 90px;
    font-weight: bolder;
    color: #222324;
    text-shadow: 2px 2px 5px #00000079, -1px -1px 3px rgba(255, 255, 255, 0.123);
    ;
    font-family: 'Nunito', sans-serif;
}